<link rel="stylesheet" href="./css/navbar.css" />
<script src="./script/navbar.js" defer></script>

<header class="header w-100 fw-bold text-white top-0 left-0 position-absolute bg-primary px-2 py-1">
    <nav class="header navbar">
        <label class="navbar-brand mx-1"><a href="/" class="label-text">ISLA</a></label>
        <div data-nv-dropdown class="nv-dropdown">
            <div class="nv-line"></div>
            <div class="nv-line"></div>
            <div class="nv-line"></div>
        </div>
        <ul class="nv-body m-0 p-0">
            <li><a class="fw-bold" href="/">HOME</a></li>
            <li><a class="fw-bold" href="https://github.com/mangadi3859/shortener.git">GTHUB</a></li>
            <li><button data-logout class="fw-bold btn-logout">LOG OUT</button></li>
        </ul>
        <ul class="nv-root m-0 p-0">
            <li><a class="fw-bold" href="/">HOME</a></li>
            <li><a class="fw-bold" href="https://github.com/mangadi3859/shortener.git">GTHUB</a></li>
            <li><button data-logout class="fw-bold btn-logout">LOG OUT</button></li>
        </ul>
    </nav>
</header>
